.edit-product, .delete-product {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.edit-product {
    fill: #034503;
}
.delete-product {
    fill: #b30303;
}
.all-products {
    cursor: pointer;
}
.all-products:hover {
    color: #575757;
}
.card-hover:hover {
    border-color: #198754;
}